<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jplindgren.jpapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name="com.jplindgren.jpapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jplindgren.jpapp.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.jplindgren.jpapp.SampleTextShowSample" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jplindgren.jpapp.MainActivity" />
        </activity>
        <activity
            android:name="com.jplindgren.jpapp.SearchscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_searchscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.jplindgren.jpapp.ConnectionStateActivity"
            android:label="@string/title_activity_connection_state" >
        </activity>
        <activity
            android:name="com.jplindgren.jpapp.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.jplindgren.jpapp.SampleTextShowSample"
            android:label="@string/title_activity_sample_text_show_sample" >
        </activity>
        <activity
            android:name="com.jplindgren.jpapp.ShowOfertaActivity"
            android:label="@string/title_activity_show_oferta"
            android:parentActivityName="com.jplindgren.jpapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jplindgren.jpapp.MainActivity" />
        </activity>
        <activity
            android:name="com.jplindgren.jpapp.MapNavigationActivity"
            android:label="@string/title_activity_map_navigation" >
        </activity>
        <activity
            android:name="com.jplindgren.jpapp.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>
